<nav class="mobile-navbar">
    <button class="menu-toggle" (click)="toggleMenu()">
        <svg *ngIf="!menuOpen" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
        </svg>
        <svg *ngIf="menuOpen" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
            <path d="m256-256-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
        </svg>
    </button>

    @if (menuOpen) {
        <aside class="sidebar">
            <ul class="navigation">
                @for (section of navigationItems; track i; let i = $index) {
                    <li
                        class="clickable-list-item"
                        [class.active]="i === activeSectionIndex"
                        (click)="handleSectionClick(i)">
                        {{ text.items[i] }}
                        @if (i === activeSectionIndex) {
                            <div class="hr-accent"></div>
                        }
                    </li>
                }
            </ul>
            <div class="hr-accent" style="width: 70vw;"></div>
            <ul class="languages">
                <li 
                    class="clickable-list-item"
                    [class.active]="activeLanguage === 'NL'"
                    (click)="toggleLanguage('NL')">
                    NL
                    @if (activeLanguage === 'NL') {
                        <div class="hr-accent"></div>
                    }
                </li>
                <li>|</li>
                <li 
                    class="clickable-list-item"
                    [class.active]="activeLanguage === 'EN'"
                    (click)="toggleLanguage('EN')">
                    EN
                    @if (activeLanguage === 'EN') {
                        <div class="hr-accent"></div>
                    }
                </li>
            </ul>
        </aside>
    }
</nav>
