.mobile-navbar {
    background-color: white;
    color: var(--primary-color); 
    height: 80vh;
    position: absolute;
    width: 100vw;
}

.menu-toggle {
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 15vw;
    justify-content: center;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 15vw;
}