.splash {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 100vh;
}

@media screen and (max-width: 800px) {
    .splash {
        display: flex;
        flex-direction: column;
    }
}

